@import "tailwindcss";

:root {
  --background: #b3ddec;
  --foreground: #041723;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-libertine: var(--font-linux-libertine);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #041723;
    --foreground: #b3ddec;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial;
}
